.footer {

    background-color: white;
    padding-top: 2rem;
    padding-bottom: 2rem;
    text-align: center;
}

i.github.link.icon {
    font-size: 3rem;
}

i.linkedin.link.icon {
    font-size: 3rem;
}




