.footer {

    background-color: white;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    text-align: center;
}

i.github.link.icon {
    font-size: 3rem;
}

i.linkedin.link.icon {
    font-size: 3rem;
}

@media (min-width: 800px) {
    .footer {

        background-color: white;
        padding-top: 1rem;
        padding-bottom: 0.5rem;
        text-align: center;
    }

    i.github.link.icon {
        font-size: 3rem;
    }

    i.linkedin.link.icon {
        font-size: 3rem;
    }
}




